<%- include('../partials/header') %>
<h2>Add New Product</h2>

<form action="/products" method="POST" class="mt-3">
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" name="name" class="form-control" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Price</label>
    <input type="number" name="price" class="form-control" step="0.01">
  </div>

  <div class="mb-3">
    <label class="form-label">Quantity</label>
    <input type="number" name="quantity" class="form-control">
  </div>

  <div class="mb-3">
    <label class="form-label">Supplier</label>
    <select name="supplierId" class="form-control">
      <% suppliers.forEach(s => { %>
        <option value="<%= s._id %>"><%= s.name %></option>
      <% }) %>
    </select>
  </div>

  <button type="submit" class="btn btn-success">Save</button>
  <a href="/products" class="btn btn-secondary">Cancel</a>
</form>
<%- include('../partials/footer') %>
